<p>
  <strong>Title:</strong>
  <%= deck.title %>
</p>
  
<p>
  <strong>Team:</strong>
  <%= deck.team %>
</p>

<p>
  <%= link_to 'Destroy Deck', [deck.game, deck], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
